[tool.poetry]
name = "chuy"
version = "0.1.1"
description = "Set alias to long commands."
authors = ["Eliaz Bobadilla <eliaz.bobadilladev@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/UltiRequiem/chuy"
repository = "https://github.com/UltiRequiem/chuy"
keywords = ["commands", "utilities", "cli"]
include = ["LICENSE"]


[tool.poetry.dependencies]
python = "^3.5"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.7b0"
pylint = "^2.9.6"

[tool.poetry.scripts]
chuy = 'chuy:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
